body {
    background-color: gainsboro;
}

table {
    margin: 50px auto;
}

td {
    color: white;
    border: 4px outset;
    text-align: center;
    padding: 10px 20px;
}

input {
    background-color: red;
    color: black;
}

td:active {
    border: 4px inset rgb(248, 6, 6);
    background-color: rgb(8, 8, 222);
}
